{% extends "dashboard-template.html" %}
{% block content %}
<!-- Dashboard header -->
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar" class="align-text-bottom"></span>
                    This week
                  </button>
                </div>
              </div>

              <!-- Top Analytics Cards -->
              <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-md-6 col-xl-3 mb-2">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">Active Projects</h5>
                                            <h3 class="my-2 py-1">{{statistics.active_projects}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-2">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-wrap" title="Total Tickets">Total Tickets</h5>
                                            <h3 class="my-2 py-1">{{statistics.total_tickets}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-2">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0" title="Unassigned Tickets">Unassigned Tickets</h5>
                                            <h3 class="my-2 py-1">{{statistics.unassigned_tickets}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-2">
                            <div class="card  h-100">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-wrap" title="Project Analytics">Project Analytics</h5>
                                            <h3 class="my-2 py-1">11</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Graphs row -->
                    <div class="row mb-3">
                        <div class="col-md-6 col-xl-3 mb-2">
                          <div class="card h-100">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item mb-2 mt-2">
                                            <i class="fa-solid fa-user mb-1"></i>
                                            <h6>New Members</h6>
                                            <h7>{{statistics.new_members}}</h7>
                                    </li>
                                    <li class="list-group-item my-2">
                                        <i class="fa-solid fa-users"></i>
                                        <div class="col">
                                            <h6>Total Members</h6>
                                            <h7>{{statistics.total_members}}</h7>
                                        </div>
                                    </li>
                                    <li class="list-group-item my-2">
                                        <i class="fa-regular fa-ticket"></i>
                                        <h6>Tickets In Development</h6>
                                        <h7>{{statistics.tickets_in_development}}</h7>
                                    </li>
                                    <li class="list-group-item my-2">
                                        <i class="fa-regular fa-code"></i>
                                        <h6>Total Developers</h6>
                                        <h7>{{statistics.total_developers}}</h7>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-2">
                          <div class="card h-100">
                            <div class="card-body ">
                                <h5 class="card-title">Company Data</h5>
                                <p><em>company 1</em></p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item my-3 d-flex justify-content-between">
                                        <div class="row">
                                            <i class="fa-solid fa-users"></i>
                                            <h7>Members</h7>
                                        </div>
                                        <p class="text-primary">1</p>
                                    </li>
                                    <li class="list-group-item my-3 d-flex justify-content-between">
                                        <div class="row">
                                            <i class="fa-solid fa-folder"></i>
                                            <h7>Projects</h7>
                                        </div>
                                        <p class="text-success">2</p>
                                    </li>
                                    <li class="list-group-item my-3 d-flex justify-content-between">
                                        <div class="row">
                                            <i class="fa-solid fa-tags"></i>
                                            <h7>Tickets</h7>
                                        </div>
                                        <p class="text-danger">8</p>
                                    </li>
                                    <li class="list-group-item my-3 d-flex justify-content-between">
                                        <div class="row">
                                            <i class="fa-solid fa-bell"></i>
                                            <h7>Notifications</h7>
                                        </div>
                                        <p class="text-warning">36</p>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-2">
                          <div class="card h-100">
                            <div class="card-body">
                              <h5 class="card-title">Priority Projects</h5>
                                <p class="pb-2"><em>Priority Projects and Dates</em></p>
                                <canvas id="pieChart" width="90%" height="100%"></canvas>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-2">
                          <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Project Participation</h5>
                                <p class="pb-2"><em>Project participation stacked bar chart</em></p>
                                <canvas id="barChart" width="90%" height="100%"></canvas>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- end row-->

                    <!-- Third row -->
                    <div class="row  mb-3">
                        <div class="col-sm-4">
                            <div class="card ">
                              <div class="card-body">
                                <h5 class="card-title">Company Ticket Distribution</h5>
                                  <canvas id="distributionPie" height="150%"></canvas>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Project history by month</h5>
                                  <canvas id="historyLine" height="150%"></canvas>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="card">
                              <div class="card-body">
                                  <h5 class="card-title">Company Ticket Distribution Donut</h5>
                                <canvas id="distributionDonut" height="150%"></canvas>
                              </div>
                            </div>
                      </div>
                    </div>
                    <!-- end row-->

                    <!-- Fourth row -->
                    <div class="row  mb-3">
                        <div class="col-sm-6 h-100">
                            <div class="card ">
                              <div class="card-body">
                                  <h5>Members</h5>
                                  <table class="table table-hover">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Name</th>
                                          <th scope="col">Username</th>
                                          <th scope="col">Projects</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for user in users %}
                                        <tr onclick="window.location.href='{{ url_for('view_user_profile', user_id=user.id) }}';">
                                          <td>{{user.name}}</td>
                                          <td>{{user.username}}</td>
                                          <td>{{user.team|length}}</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 h-100">
                            <div class="card">
                              <div class="card-body">
                                  <h5>Project List</h5>
                                  <table class="table table-hover">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Name</th>
                                          <th scope="col">Start Date</th>
                                          <th scope="col">Deadline</th>
                                          <th scope="col">Team</th>
                                          <th scope="col">Ticket Count</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for project in projects %}
                                        <tr onclick="window.location.href='{{ url_for('project_details', project_id=project.id) }}';">
                                          <td>{{project.title}}</td>
                                          <td>{{project.start_date}}</td>
                                          <td>{{project.deadline}}</td>
                                          <td>{{project.team|length}}</td>
                                          <td>{{project.tickets|length}}</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- end row-->

                    <!-- Fifth row -->
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="card ">
                              <div class="card-body">
                                  <h5>Tickets</h5>
                                  <table class="table table-hover">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Title</th>
                                          <th scope="col">Developer</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Priority</th>
                                          <th scope="col">Deadline</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for ticket in tickets %}
                                        <tr onclick="window.location.href='{{ url_for('ticket_details', ticket_id=ticket.id) }}';">
                                          <th scope="row">{{ticket.title}}</th>
                                          <td>{{ticket.developer.name}}</td>
                                          <td>{{ticket.status}}</td>
                                          <td>{{ticket.priority}}</td>
                                          <td>{{ticket.deadline}}</td>
                                          <td>Edit</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                              </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row-->

                </div>
                <!-- container -->

            </div>
            <!-- content -->
{% endblock %}

{% block script %}
    <script>
        var priorityProjectData = {{statistics['priority_project_pie']}};
        var distributionBarData = {{statistics['distribution_bar_data']}};
        var ticketDistributionPieData = {{statistics['ticket_distribution_pie']['data']}};
        var ticketDistributionTitles = ['{{statistics['ticket_distribution_pie']['titles'][0]}}', '{{statistics['ticket_distribution_pie']['titles'][1]}}',
            '{{statistics['ticket_distribution_pie']['titles'][2]}}', '{{statistics['ticket_distribution_pie']['titles'][3]}}', '{{statistics['ticket_distribution_pie']['titles'][4]}}'];
        console.log(ticketDistributionTitles);
    </script>
{% endblock script %}
