{% extends 'dashboard-template.html' %}
{% block content %}
    <div class="container py-4">
        <div class="card w-75" role="document">
            <div class="card-body rounded-4 shadow">
              <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1>{{action|capitalize}} Project</h1>
              </div>
            <div class="modal-body p-5 pt-0">
                <form method="post" action="">
                  <div class="mb-3">
                    <label for="projectTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="projectTitle" name="title" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description</label>
                    <!-- Load the CKEditor-->
                    {{ ckeditor.load() }}
                    <!-- create the editor-->
                    {{ ckeditor.create() }}
                  </div>
                  <div class="mb-3">
                    <label for="deadline" class="form-label">Deadline</label>
                    <input class="form-control" type="date">
                  </div>
                  <div class="mb-3">
                    <label for="ticketPriority" class="form-label">Project Priority</label>
                    <select class="form-select" aria-label="Default select example" id="ticketPriority" name="priority" required>
                      <option selected>Urgent</option>
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="ticketStatus" class="form-label">Project Status</label>
                    <select class="form-select" aria-label="Default select example" id="ticketStatus" name="status" required>
                      <option selected>New</option>
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="ticketDeveloper" class="form-label">Project Manager</label>
                    <input type="text" class="form-control" id="ticketDeveloper" name="developer">
                  </div>
                  <div class="mb-3">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('dashboard') }}';">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
{% endblock %}