{% extends 'dashboard-template.html' %}
{% block content %}
    <div class="container py-4">
        <div class="card w-75" role="document">
            <div class="card-body rounded-4 shadow">
              <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1>{{action|capitalize}} Project</h1>
              </div>
            <div class="modal-body p-5 pt-0">
                <form method="post" action="{{ url_for('modify_project', action=action) }}">
                  <div class="mb-3">
                    <label for="projectTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="projectTitle" name="title" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description</label>
                    <!-- Load the CKEditor-->
                    {{ ckeditor.load() }}
                    <!-- create the editor-->
                    {{ ckeditor.create() }}
                  </div>
                  <div class="mb-3">
                    <label for="deadline" class="form-label">Deadline</label>
                    <input class="form-control" type="date" name="deadline" id="deadline">
                  </div>
                  <div class="mb-3">
                    <label for="ticketPriority" class="form-label">Project Priority</label>
                    <select class="form-select" aria-label="Default select example" id="ticketPriority" name="priority" required>
                      <option selected>Urgent</option>
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="ticketStatus" class="form-label">Project Status</label>
                    <select class="form-select" aria-label="Default select example" id="ticketStatus" name="status" required>
                      <option value="Active" selected>Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="projectManager" class="form-label">Project Manager</label>
                    <input type="text" class="form-control mb-2" id="project_Manager" name="project-manager" placeholder="Unassigned">
                    <button class="form-control btn btn-primary mb-2" id="projectManager" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Assign Project Manager
                    </button>
                    <!-- Projects list collapse -->
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body">
                          <div class="col">
                            <input class="me-2 w-50 h-100" id="searchValue" type="search" placeholder="Search" aria-label="Search" name="search-value">
                            <button class="btn btn-outline-success" id="searchButton" name="search">Search</button>
                            <script>
                                var searchButton = document.getElementById("searchButton");
                                searchButton.addEventListener('click', function(event) {
                                    event.preventDefault();    // prevent page from refreshing
                                    const searchValue = document.getElementById("searchValue").value  // grab the data inside the form fields
                                    fetch('/search-project', {   // assuming the backend is hosted on the same server
                                        method: 'POST',
                                        body: searchValue,
                                    }).then(function(response) {
                                        // do something with the response if needed.
                                        // If you want the table to be built only after the backend handles the request and replies, call buildTable() here.
                                        console.log(response.json())
                                    });
                                });
                             </script>
                          </div>
                          <table class="table table-hover">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Projects</th>
                                    <th scope="col">Role</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr onclick="update(this)">
                                    <td>Mark</td>
                                    <td>0</td>
                                    <td>Project Manager</td>
                                  </tr>
                                  <tr onclick="update(this)">
                                    <td>Jacob</td>
                                    <td>3</td>
                                    <td>Developer</td>
                                  </tr>
                                  <tr onclick="update(this)">
                                    <td>Larry</td>
                                    <td>1</td>
                                    <td>User</td>
                                  </tr>
                                </tbody>
                          </table>
                          <script>
                              function update(row){
                                pm_input = document.getElementById('project_Manager');
                                pm_input.value = row.cells[0].innerHTML;
                                assign_button = document.getElementById('projectManager');
                                assign_button.click();
                              }
                          </script>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                      <button type="submit" class="btn btn-primary" name="submit">Save</button>
                      <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('dashboard') }}';">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
{% endblock %}