{% extends 'dashboard-template.html' %}
{% block content %}
    <div class="container py-4">

        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid pb-5">
            <h1 class="display-5 fw-bold">Projects List</h1>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Progress</th>
                  <th scope="col">Project Manager</th>
                  <th scope="col">Team</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr onclick="window.location.href='{{ url_for('project_details') }}';">
                  <th scope="col">Build a Movie Information Web Application</th>
                  <th scope="col">01/01/2022</th>
                  <th scope="col">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </th>
                  <th scope="col">Adama Traore</th>
                  <th scope="col"><button class="btn btn-outline-primary">Team</button></th>
                  <th scope="col">Active</th>
                  <th scope="col">
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                  </th>
                </tr>
                <tr onclick="window.location.href='{{ url_for('project_details') }}';">
                  <th scope="col">Build a Blog Website</th>
                  <th scope="col">01/07/2022</th>
                  <th scope="col">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </th>
                  <th scope="col">Lionel Messi</th>
                  <th scope="col"><button class="btn btn-outline-primary">Team</button></th>
                  <th scope="col">Inactive</th>
                  <th scope="col">
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                  </th>
                </tr>
                <tr onclick="window.location.href='{{ url_for('project_details') }}';">
                  <th scope="col">Build a Bug Tracker</th>
                  <th scope="col">05/09/2022</th>
                  <th scope="col">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </th>
                  <th scope="col">Reibjok</th>
                  <th scope="col"><button class="btn btn-outline-primary">Team</button></th>
                  <th scope="col">Active</th>
                  <th scope="col">
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h2>New Project</h2>
              <p>Create a new Project</p>
              <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('modify_project', action='new') }}';">New</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light rounded-3">
              <h2>Manage Projects</h2>
              <p>Manage the projects that you participate in.</p>
              <button class="btn btn-primary" type="button">Manage Projects</button>
            </div>
          </div>
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
          &copy; 2022
        </footer>
      </div>
{% endblock %}