{% extends 'dashboard-template.html' %}
{% block content %}
    <div class="container py-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Project Details</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{ url_for('modify_project', action='edit') }}';">Edit</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{ url_for('projects_dashboard') }}';">Back</button>
              </div>
            </div>
          </div>

            <!--    Content-->
          <div class="row align-items-md-stretch ml-3">
          <div class="col-4 h-100">
            <div class="card w-100 mb-4">
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Company Name</h6>
                <p class="card-text">{{project.description|safe}}</p>
              </div>
            </div>
            <div class="card h-100 mb-4">
              <div class="card-body">
                <h5 class="card-title">Project Manager</h5>
                <div class="col">
                  <i class="fa-solid fa-user"></i>
                  {% if project.project_manager %}
                  <div class="col">
                      <div class="card px-5 border h-100 mb-2">
                        <div class="card-body">
                          <div class="col">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                              <div  class="row">
                                  <h3>{{project.project_manager.name}}</h3>
                                  <small>Project Manager</small>
                              </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#assignProjectManagerModal">Change PM</button>
                  {% else %}
                      <h4>Unassigned</h4>
                      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#assignProjectManagerModal">Assign PM</button>

                  {% endif %}
                      <!-- Assign Project Manager Modal -->
                      <div class="modal fade" id="assignProjectManagerModal" tabindex="-1" aria-labelledby="pmModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="pmModalLabel">Please select a Project Manager</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <table class="table table-hover">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Username</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for user in users %}
                                          <tr onclick="window.location.href='{{ url_for('change_pm', project_id=project.id, user_id=user.id) }}';">
                                            <td>{{user.id}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.username}}</td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                  </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Select</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card h-100 mb-4">
              <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                  </ul>
              </div>
            </div>
            <div class="card h-100 mb-4">
              <div class="card-body">
                <h5 class="card-title">Project Team</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{project.team|length}} Team members</h6>
                <div class="col">
                  <i class="fa-solid fa-users"></i>
                  {% if project.team|length > 0 %}
                  <div class="col">
                      <!-- Team Carousel -->
                      <div id="carouselExampleControls" class="carousel slide mb-2" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            {% for user in project.team %}
                            <div class="carousel-item active bg-light">
                                <div class="card px-5 border h-100">
                                  <div class="card-body">
                                      <div class="col">
                                          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                          <div  class="row">
                                              <h2>{{user.name}}</h2>
                                              <small>Developer</small>
                                          </div>
                                      </div>

                                  </div>
                                </div>
                            </div>
                            {% endfor %}
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      <button class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addTeamMemberToggle">Add Team Member</button>
                  {% else %}
                      <h4>Unassigned</h4>
                      <button class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#addTeamMemberToggle">Add Team Member</button>
                  {% endif %}
                      <!-- Add Team Member Modals -->
                      <div class="modal fade" id="addTeamMemberToggle" aria-hidden="true" aria-labelledby="addTeamMemberToggleLabel" tabindex="-1">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="addTeamMemberToggleLabel">Select a Team Member</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <table class="table table-hover">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Username</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for user in users %}
                                          <tr onclick="update(this)" data-bs-target="#assignRoleModal" data-bs-toggle="modal">
                                            <td>{{user.id}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.username}}</td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                  </table>
                                  <script>
                                      function update(row){
                                        teamMemberInput = document.getElementById('memberName');
                                        teamMemberInput.value = row.cells[2].innerHTML;
                                        assign_button = document.getElementById('projectManager');
                                        assign_button.click();
                                      }
                                  </script>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="assignRoleModal" aria-hidden="true" aria-labelledby="assignRoleModalLabel" tabindex="-1">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="assignRoleModalLabel">Assign a Role</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <form method="post" action="{{ url_for('add_team_member', project_id=project.id) }}">
                                <div class="modal-body">

                                    <div class="mb-3">
                                        <label for="memberName" class="form-label">Project Manager</label>
                                        <input type="text" class="form-control mb-2" id="memberName" name="username" value="John Doe" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="role" class="form-label">Role</label>
                                        <select class="form-select" aria-label="Default select example" id="role" name="role" required>
                                          <option selected>Developer</option>
                                          <option value="User">User</option>
                                          <option value="Submitter">Submitter</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-target="#addTeamMemberToggle" data-bs-toggle="modal">Back</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div class="p-5 border rounded-3 mb-4">
              <h5>Active Tickets</h5>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Developer</th>
                      <th scope="col">Status</th>
                      <th scope="col">Priority</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ticket in project.tickets %}
                    <tr onclick="window.location.href='{{ url_for('ticket_details', ticket_id=ticket.id) }}';">
                      <th scope="col">{{ticket.title}}</th>
                      <th scope="col">{{ticket.developer.name}}</th>
                      <th scope="col">{{ticket.status}}</th>
                      <th scope="col">{{ticket.priority}}</th>
                      <th scope="col">{{ticket.start_date}}</th>
                      <th scope="col">
                          <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                          <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                      </th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="p-5 border rounded-3">
              <h5>Ticket History</h5>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Developer</th>
                      <th scope="col">Status</th>
                      <th scope="col">Priority</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ticket in project.tickets %}
                    <tr onclick="window.location.href='{{ url_for('ticket_details', ticket_id=ticket.id) }}';">
                      <th scope="col">{{ticket.title}}</th>
                      <th scope="col">{{ticket.developer.name}}</th>
                      <th scope="col">{{ticket.status}}</th>
                      <th scope="col">{{ticket.priority}}</th>
                      <th scope="col">{{ticket.start_date}}</th>
                      <th scope="col">
                          <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                          <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                      </th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
{% endblock %}