{% extends 'dashboard-template.html' %}
{% block content %}
    <div class="container py-4">

        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid pb-5">
            <h1 class="display-5 fw-bold">Tickets List</h1>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Developer</th>
                  <th scope="col">Status</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Ticket 1</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Adama</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">New</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Urgent</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">01/01/2022</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">01/02/2022</th>
                  <th scope="col">
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square" onclick="window.location.href='{{ url_for('modify_ticket', action='edit') }}';"></i></button>
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                  </th>
                </tr>
                <tr>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Ticket 2</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Traore</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Testing</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Medium</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">01/07/2022</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">21/07/2022</th>
                  <th scope="col">
                      <button class="btn btn-outline-primary" onclick="window.location.href='{{ url_for('modify_ticket', action='edit') }}';"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                  </th>
                </tr>
                <tr>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Ticket 3</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Messi</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">Development</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">High</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">19/08/2022</th>
                  <th scope="col" onclick="window.location.href='{{ url_for('ticket_details') }}';">20/09/2022</th>
                  <th scope="col">
                      <button class="btn btn-outline-primary" onclick="window.location.href='{{ url_for('modify_ticket', action='edit') }}';"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i></button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h2>New Ticket</h2>
              <p>Create a new Ticket</p>
              <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('modify_ticket', action='new') }}';">New</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light rounded-3">
              <h2>Manage Tickets</h2>
              <p>Manage the tickets assigned to you.</p>
              <button class="btn btn-primary" type="button">Manage Tickets</button>
            </div>
          </div>
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
          &copy; 2022
        </footer>
      </div>

{% endblock %}