{% extends 'dashboard-template.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Profile</h1>
    </div>
    <div class="row align-items-md-stretch mb-5">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h4>{{user.name}}</h4>
              <p class="text-secondary mb-1">Full Stack Developer</p>
              <p class="text-muted font-size-sm">{{user.location}}</p>
              <button class="btn btn-primary">Follow</button>
              <button class="btn btn-outline-primary">Message</button>
            </div>
          </div>
          <p class="mt-5">{{user.bio|safe}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light  rounded-3">
          <ul class="list-group list-group-flush">
                <li class="list-group-item my-3 d-flex justify-content-between bg-light">
                    <div class="col">
                        <i class="fa-solid fa-building"></i>
                        <h7>Company</h7>
                    </div>
                    <p class="text">Bugzy Inc.</p>
                </li>
                <li class="list-group-item my-3 d-flex justify-content-between bg-light">
                    <div class="col">
                        <i class="fa-solid fa-location-dot"></i>
                        <h7>Location</h7>
                    </div>
                    <p class="text">{{user.location}}</p>
                </li>
                <li class="list-group-item my-3 d-flex justify-content-between bg-light">
                    <div class="col">
                        <i class="fa-solid fa-link"></i>
                        <h7>Website</h7>
                    </div>
                    <p class="text">{{user.website_url}}</p>
                </li>
                <li class="list-group-item my-3 d-flex justify-content-between bg-light">
                    <div class="col">
                        <i class="fa-solid fa-calendar-days"></i>
                        <h7>Joined</h7>
                    </div>
                    <p class="text">15/08/2022</p>
                </li>
                <li class="list-group-item my-3 d-flex justify-content-between bg-light">
                    <div class="col">
                        <i class="fa-brands fa-twitter"></i>
                        <h7>Twitter</h7>
                    </div>
                    <p class="text">36</p>
                </li>
            </ul>
        </div>
      </div>
    </div>
{% endblock %}